:root{
    --main-font-family: 'Arvo', sans-serif; 
    font-size: 14px;
}
*{
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
body{
    margin: 0;
    font-family: var(--main-font-family);
    background-color: #022045;
}
.sund-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.sund-form-image{
    position: relative;
    width: 40%;
    min-height: 100%;
    background: url(img/bg.png) top right/cover no-repeat;
    transform: scaleX(-1);
}
.sund{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
    padding: 1.5vw 2vw;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.sund img{
    width: 3rem;
    margin-right: 1rem;
}
.sund span{
    color: #7286c5;
}
.sund-form-wrapper{
    width: 60%;
    min-height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.sund-form__title{
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
}
.sund-form-main{
    background-color: #011a3b;
    padding: 3rem;
    margin: 3rem -3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sund-form__subtitle{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
}
.sund-form fieldset{
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 0 4rem;
    flex-wrap: wrap;
}
.sund-input{
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 1rem;
}
.sund-input input{
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: none;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #cef0f0;
    padding: .5rem;
    outline: none;
    border-radius: 5px;
}
.sund-input input:not(:placeholder-shown),
.sund-input input:focus{
    border: 1px solid #15a015;
}
.sund-input input:not(:placeholder-shown) ~ label,
.sund-input input:focus ~ label {
    background-color: #15a015;
    top: -20px;
    transform: translate(0);
    left: 0;
    padding: .2rem .5rem;
    border-radius: 10%;
}

.sund-input input:not(:valid) ~ label,
.sund-input input.error ~ label{
    background-color: #c30c0c;
}
.sund-input input:not(:valid), 
.sund-input input.error{
    border: 1px solid #c30c0c;
}
.sund-input label{
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}
.sund-btn{
    border: 0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    background-color: #a3418e;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.sund-btn:hover,
.sund-btn:focus{
    background-color: #6c4076;
}
.sund-btn:active{
    transform: scale(.95);
}
.sund-account{
    font-size: 1.3rem;
    line-height: 2rem;
}
.sund-account a{
    color: #67aae4;
    font-weight: 700;
    text-decoration: none;
}
.sund-account a:hover, 
.sund-account a:focus{
    opacity: .7;
}